.evnt-planing{
    width: 65%;
}
.evnt-planing li{
    position: relative;
    width: 100%;
}
.hover-underline::after{
content: "";
position: absolute;
top: 35px;
left: 0;
height: 2px;
width: 0%;
background: var(--primary-hover);
transition: width .8s ease-in-out;
}
.evnt-planing li:hover .hover-underline::after {
    width: 100%; 
}

.evnt-planing img {
    transform: scale(0);
    transition: transform .8s ease-in-out;
    opacity: 0;
}

.evnt-planing li:hover img {
    transform: scale(1);
    opacity: 1;
} 

