@tailwind base;
@tailwind components;
@tailwind utilities;

$base-size: 16;

@function size($target, $context: $base-size) {
  @return calc($target / $context) * 1rem;
}

:root {
  // font-size
  --text-16: #{size(16)};
  --text-18: #{size(18)};
  --text-19: #{size(19)};
  --text-20: #{size(20)};
  --text-22: #{size(22)};
  --text-23: #{size(23)};
  --text-25: #{size(25)};
  --text-26: #{size(26)};
  --text-28: #{size(28)};
  --text-30: #{size(30)};
  --text-33: #{size(33)};
  --text-35: #{size(35)};
  --text-40: #{size(40)};
  --text-45: #{size(45)};
  --text-50: #{size(50)};
  --text-60: #{size(60)};
  --text-h1: #{size(75)};
  --text-h2: #{size(70)};
  --text-h3: #{size(65)};
  --text-h4: #{size(60)};
  --text-h5: #{size(55)};
  --text-h6: #{size(40)};
  --text-80: #{size(80)};
  // spacing
  --space-md: #{size(15)};
  --space-lg: #{size(30)};

  // border color
  --form-border: #b2b2b2;

  // bg-color
  --primary: #d98366;
  --primary-hover: #e8987d;
  --secondary-hover: #ffffffea;
  --bg-grey: #f8f8f8;
  --ourServices-bg: #f7f1ec;
  --bg-enquiry-form: #f8f8f8;
  --highlights-hover: #f8ded5;

  // text color
  --ourSection-color: #2d1615;
}
.container {
  @apply sm:max-w-[575px] md:max-w-[768px] lg:max-w-[991px] xl:max-w-[1024px] 2xl:max-w-[1280px] 3xl:max-w-[1366px];
}
body {
  position: relative;
  font-family: "Forum", serif;
}
